$primary: #ff2b59;
$dark: #0E1012;
$secondary: rgb(50, 50, 50);
$btn-border-radius: 18px;
$btn-border-radius-lg: 22px;
$btn-padding-x-lg: 20px;
$dropdown-link-hover-bg: #ff4970;
$dropdown-link-hover-color: #ffffff;
$input-btn-focus-width: 0;
$input-btn-focus-box-shadow: 0 0 0;



input {
    transition: .2s;
}


input:focus {
    border:2px solid $primary;
}


#form {
    border:1px solid rgb(200, 200, 200);
    border-radius: 1em;
    min-width:325px;
}


.nav-left {
    justify-content: flex-end;
}


.mx-6 {
    margin:0 6em;
}


.item-img {
    border-radius: .25em;
}


.info {
    border-radius: .25em;
    border:1px solid rgb(220, 220, 220);
}


.filter {
    border: 1px solid rgb(220, 220, 220);
    border-radius: .25rem;
    margin:1em;
    padding:2em;
}

.btn:focus {
    outline: none;
}

// scrollbar styles
::-webkit-scrollbar {
    width: 8px;
    
}
  
::-webkit-scrollbar-track {
    background: none;
}
  
::-webkit-scrollbar-thumb {
    background: #ff2b59;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff4970;
}


@import '../node_modules/bootstrap/scss/bootstrap.scss';
