<nav class="navbar navbar-expand-md navbar-light bg-primary px-2">
    <div class="container-fluid">
    
      <a class="navbar-brand text-light" href="/app">Biddzo</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-contents">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse nav-left" id="nav-contents">
        <ul class="navbar-nav d-flex align-items-center">

            <li class="nav-item mx-1">
                <a class="nav-link text-light" href="#">
                    <%= user.username %>
                </a>
            </li>

            <li class="nav-item">
                <a class="text-decoration-none text-light" href="/app/dashboard">dashboard</a>
            </li>
            <li class="nav-item">
                <form action="/app/logout" method="POST">
                    <button type="submit" class="dropdown-item text-light">Logout</button>
                </form>
            </li>
        </ul>
      </div>


    </div>
</nav>